@import '../../styles/_shared.scss';

.button {
  // box-sizing: border-box;
  color: map-get($color-scheme, light);
  font: {
    family: inherit;
    size: 1rem;
    weight: bold;
  }
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: map-get($color-scheme, primary);
  border: none;
  border-radius: 6px;
  @include box-shadow();
  outline: none;
  margin: 0;
  padding: 6px 12px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: map-get($color-scheme, primary-dark);
  }

  &:disabled {
    background-color: map-get($color-scheme, dark);
    cursor: not-allowed;
    transform: none;
  }
}
