@import '../../styles/_shared.scss';

.button {
  // box-sizing: border-box;
  font: {
    family: inherit;
    size: 1rem;
    weight: bold;
  }
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  @include box-shadow();
  outline: none;
  margin: 0;
  padding: 6px 12px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.4s ease;

  &.primary {
    color: map-get($color-scheme, secondary);
    background-color: map-get($color-scheme, primary);

    &.darkmode {
      background-color: map-get($color-scheme, primary-dark);
    }
  }

  &.secondary {
    color: map-get($color-scheme, primary);
    background-color: map-get($color-scheme, secondary);

    &.darkmode {
      background-color: map-get($color-scheme, secondary-dark);
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    background-color: map-get($color-scheme, secondary-dark);
    box-shadow: none;
    cursor: not-allowed;
    transform: none;

    &.primary,
    &.secondary {
      color: map-get($color-scheme, secondary);
    }

    &.darkmode {
      color: map-get($color-scheme, primary);
      background-color: map-get($color-scheme, secondary);
    }
  }
}
