* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.SMKToolbarContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto;
  align-items: center;
  color: #fff;
  background-color: #706fd3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
}

@media screen and (max-width: 750px) {
  .SMKToolbarContainer {
    grid-template-columns: 1fr;
  }
}

ul {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
}

li {
  display: inline;
}
