@import './styles/_shared.scss';

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: map-get($color-scheme, light);
  height: 100vh;
  width: 100%;

  &.darkmode {
    background-color: map-get($color-scheme, dark);
  }
}

li {
  color: map-get($color-scheme, secondary);
}

main {
  padding: 1rem;

  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .accordion {
    margin: 2rem 0;
  }

  .progressbar {
    display: grid;
    grid-gap: 0.5rem;

    .buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  .badges {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
  }

  .modal {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    .modalcontent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;

      h2,
      p {
        &.darkmode {
          color: map-get($color-scheme, secondary);
        }
      }
    }
  }
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: map-get($color-scheme, secondary);
  background-color: map-get($color-scheme, primary);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
  padding: 0.25rem 0;

  &.darkmode {
    background-color: map-get($color-scheme, primary-dark);
  }
}
